@use '../../../styles/variable' as v;

.l4-pdp {
  &[data-product="asus"] {
    &[data-mode="light"] .faqs,
    .faqs-wrapper .faqs.section-light {
      --base-text-color: #181818;
      --base-bg-color: #FFF;
    }

    &[data-mode="dark"] .faqs,
    .faqs-wrapper .faqs.section-dark {
      --base-text-color: #FFF;
      --base-bg-color: #000;
    }
  }

  &[data-product="proart"] {
    &[data-mode="light"] .faqs,
    .faqs-wrapper .faqs.section-light {
      --base-text-color: #181818;
      --base-bg-color: #FFF;
    }

    &[data-mode="dark"] .faqs,
    .faqs-wrapper .faqs.section-dark {
      --base-text-color: #FFF;
      --base-bg-color: #000;
    }
  }

  &[data-product="rog"] {
    &[data-mode="light"] .faqs,
    .faqs-wrapper .faqs.section-light {
      --base-text-color: #181818;
      --base-bg-color: #FFF;
    }

    &[data-mode="dark"] .faqs,
    .faqs-wrapper .faqs.section-dark {
      --base-text-color: #FFF;
      --base-bg-color: #000;
    }
  }

  &[data-product="tuf"] {
    &[data-mode="light"] .faqs,
    .faqs-wrapper .faqs.section-light {
      --base-text-color: #181818;
      --base-bg-color: #FFF;
    }

    &[data-mode="dark"] .faqs,
    .faqs-wrapper .faqs.section-dark {
      --base-text-color: #FFF;
      --base-bg-color: #000;
    }
  }
}