@use '../../../styles/variable' as v;

// Variant 3 - Text below
.l4-pdp .line-info.style-layout-3 .line-info-block{
    --line-info-x: 0px;
    --line-info-x-lg: 0px;
    --line-info-x-md: 0px;
    --line-info-text-width: 0px;
    --line-info-text-width-lg: var(--l4-column-width-2);
    --line-info-text-max-width-lg: 276px;
    --line-info-text-width-md: var(--l4-column-width-2);
    --line-info-text-max-width-md: 224px;

  .line-info-item-img-container{
    margin-bottom: 20px;
    
    // Mobile
    @media all and (max-width: v.$small-upper-bound) {
      margin-bottom: 0;
    }            
  }

  .line-info-side.line-info-side-none{
    .text-item-container{
      top: 0;
      left: 50%;
      transform-origin: center;
      transform: translateX(var(--line-info-x));
    
      // Mobile
      @media all and (max-width: v.$small-upper-bound) {
        left: 0;
        transform: unset;
      }
    }
  }
  
  @media (min-width: v.$medium-lower-bound) and (max-width: v.$medium-upper-bound) {
    .line-info-item-img-container{
      position: relative;
      height: fit-content;
      width: 100%;

      .line-info-item-img{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transform-origin: center;
        margin: 0;
      }
    }      
    
    .line-info-side.line-info-side-none{
      .text-item-container{
        --line-info-x: var(--line-info-x-md);
      }
    }
  }

  @media (min-width: v.$large-lower-bound) {
    .line-info-item-img-container{
      position: relative;
      height: fit-content;
      width: 100%;

      .line-info-item-img{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transform-origin: center;
        margin: 0;
      }
    }     
     
    .line-info-side.line-info-side-none{
      .text-item-container{
        --line-info-x: var(--line-info-x-lg); 
      }
    }
  }    
}
