#CMD * {
    box-sizing: border-box
}

section {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100%
}

section .img {
    display: block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.section__content {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%
}

.outer-view {
    opacity: 1;
    transition: opacity 0 linear
}

.outer-view.is-hide {
    opacity: 0
}

.outer-view .block__scroll .block__scroll-item {
    opacity: 0;
    transform: translateY(100px)
}

@media all and (max-width: 730.5px) {
    .outer-view .block__scroll .block__scroll-item {
        transform:translateY(60px);
        transform-origin: top
    }
}

.outer-view .block__scroll .scroll-trigger-end {
    position: absolute;
    bottom: 0
}

@media all and (max-width: 730.5px) {
    .block__scroll.block__scroll__small-noscroll .block__scroll-item {
        opacity:1!important;
        transform: none!important
    }

    .block__scroll.block__scroll__small-noscroll .scroll-trigger-end {
        position: relative!important;
        bottom: 0
    }
}

@media all and (min-width: 769px) {
    #CMD .outer-view {
        margin-top:0
    }
}

@media all and (max-width: 730.5px) {
    #CMD {
        margin-top: 0!important
    }
}

#CMD::before {
    display: block;
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0
}

@media all and (min-width: 1280px) {
    #CMD::before {
        content:"desktop"
    }
}

@media all and (min-width: 731px) and (max-width:1279.5px) {
    #CMD::before {
        content:"tablet"
    }
}

@media all and (max-width: 730.5px) {
    #CMD::before {
        content:"mobile"
    }
}

.wd__content {
    position: relative;
    color: #fff
}

@media all and (min-width: 731px) and (max-width:1279.5px) {
    .wd__content {
        left:0;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0
    }
}

@media all and (max-width: 730.5px) {
    .wd__content {
        left:0;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0;
        text-align: left
    }
}

.outer-view {
    z-index: 0;
    transform-origin: 50vw 50vh
}

.wd__play__btn {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: 497px;
    padding: 0;
    width: 36px;
    height: 36px
}

.wd__play__btn button {
    position: relative;
    cursor: pointer;
    opacity: .7;
    padding: 0;
    width: 36px;
    height: 36px;
    border-width: 0;
    background-color: transparent;
    transition: opacity 250ms
}

.wd__play__btn button.focus-visible,.wd__play__btn button:focus-visible,.wd__play__btn button:hover {
    opacity: 1
}

.wd__play__btn button .svg_button_play .svg-rect {
    fill: none
}

.wd__play__btn button .svg_button_play .svg-circle,.wd__play__btn button .svg_button_play .svg-line {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    fill-rule: evenodd
}

.wd__play__btn button .svg_button_play .svg-triangle {
    clip-path: url(#clip-path)
}

.wd__play__btn button .svg_button_replay {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%
}

.wd__play__btn button .svg_button_replay path {
    fill: #fff
}

.wd__play__btn button.in-video .svg_button_replay {
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%
}

.wd__play__btn button .svg_button_play .svg-step {
    transition: opacity 250ms linear 0s
}

.wd__play__btn button .svg_button_play .svg-step {
    opacity: 0
}

.wd__play__btn button .svg_button_play .svg-pause-all {
    opacity: 1
}

.wd__play__btn button .svg_button_replay {
    opacity: 0;
    user-select: none;
    transition: opacity .4s
}

.wd__play__btn button.show-play .svg_button_play .svg-step {
    opacity: 0
}

.wd__play__btn button.show-play .svg_button_play .svg-triangle {
    opacity: 1
}

.wd__play__btn button.show-replay .svg_button_play {
    opacity: 0;
    user-select: none
}

.wd__play__btn button.show-replay .svg_button_replay {
    opacity: 1;
    user-select: auto
}

.wd__play__btn .svg_button_play .svg-circle {
    stroke: #fff
}

.wd__play__btn .svg_button_play .svg-line {
    fill: #fff;
    stroke: #fff
}

.wd__play__btn .svg_button_play .svg-triangle .triangle {
    fill: #fff
}

.wd__play__btn .svg_button_replay.in_video .svg-replay path {
    fill: #fff;
    stroke: #fff
}

.wdblockimg {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.wdblockimg .ai__noise__container {
    --themecolor-main: 95,95,95;
    --themecolor-middle: 165,165,165;
    --themecolor-filter: 255,0,0;
    display: flex;
    position: relative;
    bottom: 0;
    align-items: center;
    width: 100%;
    transition: margin-top 1s ease 0s;
    flex-direction: column
}

.wdblockimg .block[data-blocktype=aiNoise] {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.wdblockimg .ai__noise__container .noise__voice__container {
    height: var(--voice-iconSize);
    max-height: var(--voice-iconSize)
}

.wdblockimg .ai__noise__container .nav__replay {
    position: absolute;
    z-index: 10;
    right: 56px;
    bottom: 12px
}

.wdblockimg .ai__noise__container .nav__replay .wd__play__btn {
    position: relative;
    left: 0;
    margin-left: unset
}

.wdblockimg .ai__noise__container .nav__replay .wd__play__btn .wd__play__btn-button {
    display: block
}

.wdblockimg .ai__noise__container .nav__replay .wd__play__btn .wd__play__btn-button.is-hidden {
    display: none
}

.wdblockimg .ai__noise__container .nav__replay .wd__play__btn .svg_button_replay {
    opacity: 1
}

.wdblockimg .ai__noise__container .nav__replay .wd__play__btn:hover .wd__play__btn-button {
    opacity: 1
}

.wdblockimg .ai__noise__container .nav__noise {
    display: flex;
    position: absolute;
    z-index: 15;
    cursor: pointer;
    right: 12px;
    bottom: 12px;
    align-items: center;
    justify-content: center;
    margin-top: 0
}

.wdblockimg .ai__noise__container .nav__noise .nav__item {
    display: flex;
    left: unset;
    align-items: center;
    justify-content: center;
    opacity: .7;
    margin: 0;
    padding: 0;
    transition: transform .3s ease-out
}

.wdblockimg .ai__noise__container .nav__noise .nav__item.focus-visible,.wdblockimg .ai__noise__container .nav__noise .nav__item.js-focus-visible,.wdblockimg .ai__noise__container .nav__noise .nav__item:focus-visible,.wdblockimg .ai__noise__container .nav__noise .nav__item:hover {
    opacity: 1
}

.wdblockimg .ai__noise__container .nav__noise .nav__item .nav__content {
    display: flex;
    align-items: center
}

.wdblockimg .ai__noise__container .nav__noise .nav__item .nav__content .img__icon {
    display: inline-block;
    margin-right: 10px
}

.wdblockimg .ai__noise__container .nav__noise .nav__item .nav__content .img__icon .svg_button_play {
    width: 36px;
    height: 36px
}

.wdblockimg .ai__noise__container .nav__noise .nav__item .nav__content .img__icon .svg_button_play .svg-rect {
    fill: none
}

.wdblockimg .ai__noise__container .nav__noise .nav__item .nav__content .img__icon .svg_button_play .svg-circle,.wdblockimg .ai__noise__container .nav__noise .nav__item .nav__content .img__icon .svg_button_play .svg-line,.wdblockimg .ai__noise__container .nav__noise .nav__item .nav__content .img__icon .svg_button_play .svg-stop path {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    fill-rule: evenodd
}

.wdblockimg .ai__noise__container .nav__noise .nav__item .nav__content .img__icon .svg_button_play .svg-circle {
    fill: #fff;
    stroke-width: 2px
}

.wdblockimg .ai__noise__container .nav__noise .nav__item .nav__content .img__icon .svg_button_play .svg-triangle {
    clip-path: url(#clip-path)
}

.wdblockimg .ai__noise__container .nav__noise .nav__item .nav__content .nav__text {
    display: inline-block;
    width: 160px;
    letter-spacing: .02em
}

.wdblockimg .ai__noise__container .nav__noise .nav__item .nav__content .nav__text .content__title {
    font-size: 23px;
    font-weight: 300
}

.wdblockimg .ai__noise__container .nav__noise .nav__item .nav__content .nav__text .content__info {
    font-size: 20px
}

.wdblockimg .ai__noise__container .nav__noise .nav__item.js-selected .nav__content .img__icon .svg_button_play .svg-triangle {
    opacity: 0
}

.wdblockimg .ai__noise__container .nav__noise .nav__item.js-selected .nav__content .img__icon .svg_button_play .svg-line {
    opacity: 1
}

.wdblockimg .ai__noise__container .noise__switcher {
    display: flex;
    position: relative;
    overflow: hidden;
    z-index: 13;
    bottom: 0;
    align-items: center;
    justify-content: center;
    opacity: 0;
    margin-top: 0;
    width: 80%;
    text-align: center;
    flex-direction: column
}

.wdblockimg .ai__noise__container .noise__switcher span {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.75rem;
    font-weight: 300
}

.wdblockimg .ai__noise__container .noise__switcher .img__switcher {
    display: inline-block;
    cursor: pointer;
    /* margin: 20px 0; */
    padding: 0;
    width: 90px;
    height: 42px;
    min-height: 42px;
    border: 0;
    background-color: transparent;
    background-size: contain
}

.wdblockimg .ai__noise__container .noise__switcher {
    overflow: hidden;
    max-height: 0
}

.wdblockimg .ai__noise__container .noise__switcher.js-showed {
    opacity: 1!important;
    height: auto;
    max-height: 500px;
    filter: unset;
    pointer-events: unset
}

.wdblockimg .ai__noise__container .noise__switcher .noise_desc {
    width: 100%;
    max-width: 800px;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5
}

.wdblockimg .ai__noise__container .noise__voice__container {
    position: relative;
    top: 0;
    opacity: 1;
    height: 100%;
    max-height: 200px;
    pointer-events: none
}

.wdblockimg .ai__noise__container .noise__voice__container .noise__left {
    transform-origin: right center
}

.wdblockimg .ai__noise__container .noise__voice__container .noise__right {
    transform-origin: left center
}

.wdblockimg .ai__noise__container .noise__voice__container.js-active {
    opacity: 1;
    height: 240px;
    max-height: 700px;
    filter: unset;
    pointer-events: unset
}

.wdblockimg .ai__noise__container .img__noise {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0;
    height: 400px;
    transform: translate(-50%,-50%);
    transform-origin: center
}

.wdblockimg .ai__noise__container .img__noise .img__voice {
    display: inline-block;
    position: absolute;
    z-index: 50;
    top: 50%;
    left: 50%;
    margin-top: -162px;
    margin-left: -162px;
    width: 324px;
    height: 324px;
    background-size: contain;
    transform-origin: center
}

.wdblockimg .ai__noise__container .img__noise .noise__left {
    position: absolute;
    z-index: 40;
    top: 0;
    left: 50%;
    margin-left: -880px
}

.wdblockimg .ai__noise__container .img__noise .noise__right {
    position: absolute;
    z-index: 40;
    top: 0;
    left: 50%;
    margin-left: 80px
}

.wdblockimg .ai__noise__container .nav__noise .nav__item {
    width: auto
}

.wdblockimg .ai__noise__container .nav__noise .nav__item .nav__content {
    width: 100%
}

.wdblockimg .ai__noise__container .nav__noise .nav__item .nav__content .nav__text {
    width: 100%
}

.wdblockimg .ai__noise__container .nav__noise .nav__item .nav__content .img__icon {
    margin-right: 0;
    margin-left: 0
}

.wdblockimg .ai__noise__container {
    --voice-iconSize: 280px
}

.wdblockimg .ai__noise__container .img__noise .img__voice {
    --voice-start: #9db9eb;
    --voice-end: #5a4f89;
    --voice-bgcolor: #fff;
    margin-top: calc(var(--voice-iconSize) * -.5);
    margin-left: calc(var(--voice-iconSize) * -.5);
    width: var(--voice-iconSize);
    height: var(--voice-iconSize)
}

.wdblockimg .ai__noise__container .svg_button_play .svg-step {
    transition: opacity 250ms linear 0s
}

.wdblockimg .ai__noise__container .svg_button_play .svg-step {
    opacity: 0
}

.wdblockimg .ai__noise__container .svg_button_play .svg-triangle {
    opacity: 1
}

.wdblockimg .ai__noise__container.js-active .svg_button_play .svg-step.svg-triangle {
    opacity: 0
}

.wdblockimg .ai__noise__container.js-active .svg_button_play .svg-step.svg-stop {
    opacity: 1;
    transition: opacity 250ms linear .1s
}

.wdblockimg .ai__noise__container .img__icon {
    --img-icon-base-color: #2f2f2f;
    --img-icon-bg-color: #fff
}

.wdblockimg .ai__noise__container .img__icon .svg_button_play .svg-line {
    fill: var(--img-icon-base-color)!important;
    stroke: transparent
}

.wdblockimg .ai__noise__container .img__icon .svg_button_play .svg-triangle .triangle {
    fill: var(--img-icon-base-color)!important
}

.wdblockimg .ai__noise__container .img__icon .svg_button_play .svg-stop {
    opacity: 0
}

.wdblockimg .ai__noise__container .img__icon .svg_button_play .svg-stop path {
    fill: var(--img-icon-base-color)!important
}

@keyframes height-max {
    0% {
        max-height: 0
    }

    100% {
        max-height: 2000px
    }
}

@keyframes height-min {
    0% {
        max-height: 2000px
    }

    100% {
        max-height: 0
    }
}

@keyframes noise-switcher-margin-top {
    0% {
        margin-top: 0
    }

    50% {
        margin-top: -20px
    }

    100% {
        margin-top: -20px
    }
}

.wdblockimg .ai__noise__container {
    height: auto;
    max-height: 2000px
}

.wdblockimg .ai__noise__container .noise__switcher {
    animation-name: height-min;
    animation-duration: 580ms;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-timing-function: ease-out
}

.wdblockimg .ai__noise__container .noise__switcher[aria-hidden=true] button {
    display: none
}

.wdblockimg .ai__noise__container .noise__switcher.js-showed {
    transition: opacity .5s linear 450ms,margin-top 0s linear .2s,margin-bottom 0s linear .2s;
    animation-name: height-max;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0;
    animation-timing-function: ease-in-out
}

.wdblockimg .ai__noise__container .noise__voice__container {
    transition: top 0 linear 0
}

.wdblockimg .ai__noise__container .noise__voice__container.js-active {
    transition: top .31s ease-in-out .032s
}

.wdblockimg .ai__noise__container .img__voice {
    transition: transform .583s ease-in-out 0s
}

.wdblockimg .ai__noise__container.js-active {
    max-height: 2000px
}

.wdblockimg .ai__noise__container.js-active .img__voice {
    transition: transform .4s ease-in-out 301ms
}

.wdblockimg .block[data-blocktype=aiNoise].column-span-2 .ai__noise__container {
    transition: margin-top 581ms linear 0s
}

.wdblockimg .block[data-blocktype=aiNoise].column-span-2 .ai__noise__container .noise__switcher {
    animation-duration: .5s
}

.wdblockimg .block[data-blocktype=aiNoise].column-span-2 .ai__noise__container.js-active {
    transition-delay: .13s
}

.wdblockimg .block.theme-white .ai__noise__container {
    --themecolor-main: 64,108,172;
    --themecolor-middle: 64,64,64;
    --themecolor-filter: 116,161,211
}

.wdblockimg .block.theme-white .ai__noise__container .img__noise .img__voice {
    --voice-start: #74a1d3;
    --voice-end: #406cac;
    --voice-bgcolor: #fff
}

.wdblockimg .block.theme-white .ai__noise__container .img__icon {
    --img-icon-base-color: #2f2f2f;
    --img-icon-bg-color: #fff
}


.outer-view {
    z-index: 0;
    transform-origin: 50vw 50vh;
    transition: none
}

@keyframes slide {
    from {
        max-height: 0
    }

    to {
        max-height: 700px
    }
}

.cmd-content {
    position: relative;
    overflow-x: clip;
    background-color: #fff
}

.cmd-content .is-hidden {
    display: none
}

.cmd-content .is-hidden * {
    background-image: none!important
}

.cmd-content .row .col[class*=pull-],.cmd-content .row .col[class*=push-] {
    position: relative
}

.cmd-content .hide {
    position: absolute;
    opacity: 0;
    height: 0
}

.cmd-content .wd__play__btn .svg_button_play .svg-circle {
    stroke: #0b5da7;
    fill: #0b5da7
}

.cmd-content .wd__play__btn .svg_button_play .svg-line {
    fill: #fff;
    stroke: #fff
}

.cmd-content .wd__play__btn .svg_button_play .svg-triangle .triangle {
    fill: #fff
}

.cmd-content .wd__play__btn .svg_button_replay path {
    fill: #fff
}

@media all and (min-width: 1280px) {

    .wdblockimg .wdblockimg__container .block.block-imgstyle-scale.column-span-2 .block-content {
        min-height: 0;
    }


    .wdblockimg .wdblockimg__container .block.block-imgstyle-scale.column-span-2 .block-img,.wdblockimg .wdblockimg__container .block.block-imgstyle-scale.column-span-3 .block-img {
        position: relative;
        width: 100%
    }

    .wdblockimg .wdblockimg__container .block.block-imgstyle-scale.column-span-2 .img__bg,.wdblockimg .wdblockimg__container .block.block-imgstyle-scale.column-span-3 .img__bg {
        position: relative;
        width: 100%;
        height: 100%
    }


    .wdblockimg .wdblockimg__container .block.block-imgstyle-extend.column-span-2 .block-content,.wdblockimg .wdblockimg__container .block.block-imgstyle-extend.column-span-3 .block-content,.wdblockimg .wdblockimg__container .block.block-imgstyle-extend[class*=column-span-] .block-content {
        padding-bottom: 340px
    }

    .wdblockimg .wdblockimg__container .block.block-imgstyle-extend.column-span-2 .block-img,.wdblockimg .wdblockimg__container .block.block-imgstyle-extend.column-span-3 .block-img,.wdblockimg .wdblockimg__container .block.block-imgstyle-extend[class*=column-span-] .block-img {
        height: 580px
    }

    .wdblockimg .wdblockimg__container .block.block-imgstyle-extend.column-span-2 .img__bg,.wdblockimg .wdblockimg__container .block.block-imgstyle-extend.column-span-3 .img__bg,.wdblockimg .wdblockimg__container .block.block-imgstyle-extend[class*=column-span-] .img__bg {
        width: 580px;
        height: 580px
    }

    .wdblockimg .block[data-blocktype=aiNoise] .ai__noise__container {
        --voice-iconSize: 280px
    }

    .wdblockimg .block[data-blocktype=aiNoise] .ai__noise__container .noise__voice__container {
        height: var(--voice-iconSize);
        max-height: var(--voice-iconSize)
    }

    .wdblockimg .block[data-blocktype=aiNoise].column-span-2[class*=block-imgstyle-],.wdblockimg .block[data-blocktype=aiNoise].column-span-3[class*=block-imgstyle-] {
        min-height: 0
    }

    .wdblockimg .block[data-blocktype=aiNoise].column-span-2[class*=block-imgstyle-] .block-content,.wdblockimg .block[data-blocktype=aiNoise].column-span-3[class*=block-imgstyle-] .block-content {
        /* padding-bottom: 30px; */
        min-height: unset
    }

    .wdblockimg .block[data-blocktype=aiNoise].column-span-2[class*=block-imgstyle-] .ai__noise__container,.wdblockimg .block[data-blocktype=aiNoise].column-span-3[class*=block-imgstyle-] .ai__noise__container {
        margin-top: 0;
        padding-bottom: 40px
    }

    .wdblockimg .block[data-blocktype=aiNoise].column-span-2[class*=block-imgstyle-] .ai__noise__container .noise__switcher.js-showed,.wdblockimg .block[data-blocktype=aiNoise].column-span-3[class*=block-imgstyle-] .ai__noise__container .noise__switcher.js-showed {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0
    }

    .wdblockimg .block[data-blocktype=aiNoise].column-span-2[class*=block-imgstyle-] .ai__noise__container .noise__voice__container,.wdblockimg .block[data-blocktype=aiNoise].column-span-3[class*=block-imgstyle-] .ai__noise__container .noise__voice__container {
        top: 0
    }

    .wdblockimg .block[data-blocktype=aiNoise].column-span-2[class*=block-imgstyle-] .ai__noise__container .noise__voice__container .noise__left,.wdblockimg .block[data-blocktype=aiNoise].column-span-2[class*=block-imgstyle-] .ai__noise__container .noise__voice__container .noise__right,.wdblockimg .block[data-blocktype=aiNoise].column-span-3[class*=block-imgstyle-] .ai__noise__container .noise__voice__container .noise__left,.wdblockimg .block[data-blocktype=aiNoise].column-span-3[class*=block-imgstyle-] .ai__noise__container .noise__voice__container .noise__right {
        transform: scale(.3,1.4)
    }

    .wdblockimg .block[data-blocktype=aiNoise].column-span-2[class*=block-imgstyle-] .ai__noise__container .noise__voice__container.js-active,.wdblockimg .block[data-blocktype=aiNoise].column-span-3[class*=block-imgstyle-] .ai__noise__container .noise__voice__container.js-active {
        top: 0;
        margin-top: 0;
        max-height: 280px
    }

    .wdblockimg .block[data-blocktype=aiNoise].column-span-2[class*=block-imgstyle-] .ai__noise__container .noise__voice__container.js-active .img__noise .img__voice,.wdblockimg .block[data-blocktype=aiNoise].column-span-3[class*=block-imgstyle-] .ai__noise__container .noise__voice__container.js-active .img__noise .img__voice {
        transform: scale(.7)
    }

    .wdblockimg .block[data-blocktype=aiNoise].column-span-2[class*=block-imgstyle-] .ai__noise__container .noise__switcher,.wdblockimg .block[data-blocktype=aiNoise].column-span-3[class*=block-imgstyle-] .ai__noise__container .noise__switcher {
        /* top: -17px; */
        margin-top: 0;
        margin-bottom: 0
    }

    .wdblockimg .block[data-blocktype=aiNoise].column-span-2[class*=block-imgstyle-] .ai__noise__container .noise__switcher .noise_desc,.wdblockimg .block[data-blocktype=aiNoise].column-span-3[class*=block-imgstyle-] .ai__noise__container .noise__switcher .noise_desc {
        margin-top: 0;
        padding-top: 0
    }

    .wdblockimg .block[data-blocktype=aiNoise].column-span-2[class*=block-imgstyle-] .ai__noise__container .noise__switcher .aiNoiseSwitcher_btn,.wdblockimg .block[data-blocktype=aiNoise].column-span-3[class*=block-imgstyle-] .ai__noise__container .noise__switcher .aiNoiseSwitcher_btn {
        margin-bottom: 0
    }

    .wdblockimg .block[data-blocktype=aiNoise].column-span-2[class*=block-imgstyle-] .ai__noise__container.js-active,.wdblockimg .block[data-blocktype=aiNoise].column-span-3[class*=block-imgstyle-] .ai__noise__container.js-active {
        margin-top: -40px;
        transition-delay: 20ms
    }

    .wdblockimg .block[data-blocktype=aiNoise].column-span-2 .ai__noise__container {
        --voice-iconSize: 180px
    }

    .wdblockimg .block[data-blocktype=aiNoise].column-span-2 .ai__noise__container .noise__left {
        margin-left: -860px
    }

    .wdblockimg .block[data-blocktype=aiNoise].column-span-2 .ai__noise__container .noise__right {
        margin-left: 60px
    }

    .wdblockimg .block[data-blocktype=aiNoise].column-span-2 .ai__noise__container.js-active .noise__switcher {
        animation-delay: 0s;
        animation-duration: 3s
    }

    .wdblockimg .block[data-blocktype=aiNoise].column-span-2 .ai__noise__container.js-active .img__voice {
        transition-delay: .394s
    }
}

@media all and (max-width: 730.5px) {
  
    .wdblockimg .wdblockimg__container {
        margin-right: auto;
        margin-left: auto;
        width: 89.2%;
        max-width: 414px
    }

    .wdblockimg .wdblockimg__container .block {
        grid-column-end: span 6!important
    }

    .wdblockimg .wdblockimg__container .block .block-content {
        padding: 26px 14px
    }

    .wdblockimg .wdblockimg__container .block.block-imgstyle-extend[class*=column-span-] .block-content {
        padding-bottom: 270px
    }

    .wdblockimg .wdblockimg__container .block.block-imgstyle-extend[class*=column-span-] .block-img {
        position: absolute;
        top: unset;
        right: 0;
        bottom: 0;
        left: 50%;
        width: 100%;
        height: 480px;
        transform: translate(-50%,0)
    }

    .wdblockimg .wdblockimg__container .block.block-imgstyle-extend[class*=column-span-] .img__bg {
        width: 480px;
        height: 480px
    }

    .wdblockimg .wdblockimg__container .block .block-video .video__container {
        bottom: 0;
        left: 50%;
        width: 414px;
        height: 414px;
        transform: translateX(-50%)
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-] .ai__noise__container {
        --voice-iconSize: 180px
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-] .ai__noise__container .noise__voice__container {
        height: var(--voice-iconSize);
        max-height: var(--voice-iconSize)
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 {
        min-height: 0
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .block-content,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .block-content,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .block-content {
        padding-bottom: 30px;
        min-height: unset
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container {
        padding-bottom: 53px;
        transition: margin-top .721s linear 0s
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container .noise__switcher.js-showed,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container .noise__switcher.js-showed,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container .noise__switcher.js-showed {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        transition: opacity .5s linear 580ms,margin-top 0s linear .2s
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container .noise__voice__container,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container .noise__voice__container,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container .noise__voice__container {
        top: 0
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container .noise__voice__container .noise__left,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container .noise__voice__container .noise__right,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container .noise__voice__container .noise__left,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container .noise__voice__container .noise__right,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container .noise__voice__container .noise__left,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container .noise__voice__container .noise__right {
        transform: scale(.3,1.4)
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container .noise__voice__container.js-active,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container .noise__voice__container.js-active,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container .noise__voice__container.js-active {
        top: 0;
        margin-top: 0;
        max-height: 280px
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container .noise__voice__container.js-active .img__noise .img__voice,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container .noise__voice__container.js-active .img__noise .img__voice,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container .noise__voice__container.js-active .img__noise .img__voice {
        transform: scale(.8)
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container .noise__switcher,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container .noise__switcher,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container .noise__switcher {
        top: -17px;
        margin-top: 0;
        margin-bottom: 0
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container .noise__switcher .noise_desc,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container .noise__switcher .noise_desc,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container .noise__switcher .noise_desc {
        margin-top: 0;
        padding-top: 0
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container .noise__switcher .aiNoiseSwitcher_btn,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container .noise__switcher .aiNoiseSwitcher_btn,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container .noise__switcher .aiNoiseSwitcher_btn {
        margin-bottom: 0
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container {
        margin-top: 0
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container .noise__switcher,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container .noise__switcher,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container .noise__switcher {
        animation-duration: .498s
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container .noise__left,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container .noise__left,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container .noise__left {
        margin-left: -850px
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container .noise__right,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container .noise__right,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container .noise__right {
        margin-left: 50px
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container .img__voice,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container .img__voice,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container .img__voice {
        transition: transform .583s ease-in-out 0s
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container.js-active,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container.js-active,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container.js-active {
        margin-top: -20px;
        transition: margin-top .499s ease 0s
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container.js-active .noise__switcher,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container.js-active .noise__switcher,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container.js-active .noise__switcher {
        top: -2px;
        animation-delay: 0s;
        animation-duration: 3s
    }

    .wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-2 .ai__noise__container.js-active .img__voice,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-3 .ai__noise__container.js-active .img__voice,.wdblockimg .block[data-blocktype=aiNoise][class*=block-imgstyle-].column-span-6 .ai__noise__container.js-active .img__voice {
        transition-delay: .119s
    }
}