  /* stylelint-disable media-feature-range-notation, rule-empty-line-before, length-zero-no-unit, color-function-alias-notation, color-function-notation, alpha-value-notation */

.l4-pdp {
  &[data-product="asus"] {
    &[data-mode="light"],
    .section-light {
      --text-block-category-color: #666; 
      --text-block-title-color: transparent;
      --text-block-title-gradient: linear-gradient(270deg, #0062CD 0%, #004691 100%);
      --text-block-body-color: #181818;
      --text-block-disclaimer-color: #666;
      --text-block-cta-start: #0062CD;
      --text-block-cta-end: #004691;
    }

    &[data-mode="dark"],
    .section-dark {
      --text-block-category-color: #999;
      --text-block-title-color: transparent;
      --text-block-title-gradient: linear-gradient(270deg, #C3E0FF 0%, #78BCFF 100%);
      --text-block-body-color: #FFF;
      --text-block-disclaimer-color: #999;
      --text-block-cta-start: #C3E0FF;
      --text-block-cta-end: #78BCFF;
    }
  }

  &[data-product="proart"] {
    &[data-mode="light"],
    .section-light {
      --text-block-category-color: #666;
      --text-block-title-color: transparent;
      --text-block-title-gradient: linear-gradient(270deg, #6B4F35 0%, #8D684E 100%);
      --text-block-body-color: #181818;
      --text-block-disclaimer-color: #666;
      --text-block-cta-start: #6B4F35;
      --text-block-cta-end: #8D684E;
    }

    &[data-mode="dark"],
    .section-dark {
      --text-block-category-color: #999;
      --text-block-title-color: transparent;
      --text-block-title-gradient: linear-gradient(270deg, #9F7A56 0%, #DFC9A9 100%);
      --text-block-body-color: #FFF;
      --text-block-disclaimer-color: #999;
      --text-block-cta-start: #9F7A56;
      --text-block-cta-end: #DFC9A9;
    }
  }

  &[data-product="rog"] {
    &[data-mode="light"],
    .section-light {
      --text-block-category-color: #CC000E;
      --text-block-title-color: #181818;
      --text-block-title-gradient: '';
      --text-block-body-color: #181818;
      --text-block-disclaimer-color: #666;
      --text-block-cta-start: #CC000E;
      --text-block-cta-end: #CC000E;
    }

    &[data-mode="dark"],
    .section-dark {
      --text-block-category-color: #FF0F0F;
      --text-block-title-color: #FFF;
      --text-block-title-gradient: '';
      --text-block-body-color: #FFF;
      --text-block-disclaimer-color: #999;
      --text-block-cta-start: #FF0F0F;
      --text-block-cta-end: #FF0F0F;
    }
  }

  &[data-product="tuf"] {
    &[data-mode="light"],
    .section-light {
      --text-block-category-color: #666;
      --text-block-title-color: #181818;
      --text-block-title-gradient: '';
      --text-block-body-color: #181818;
      --text-block-disclaimer-color: #666;
      --text-block-cta-start: #181818;
      --text-block-cta-end: #181818;
    }

    &[data-mode="dark"],
    .section-dark {
      --text-block-category-color: #FF9E1B;
      --text-block-title-color: #FFF;
      --text-block-title-gradient: '';
      --text-block-body-color: #FFF;
      --text-block-disclaimer-color: #999;
      --text-block-cta-start: #FF9E1B;
      --text-block-cta-end: #FF9E1B;
    }
  }

  .text-block {
    &-category {
      color: var(--text-block-category-color);
    }

    &-title {
      color: var(--text-block-title-color, inherit);
      background: var(--text-block-title-gradient, none);
      background-clip: text;
    }

    &-body {
      color: var(--text-block-body-color);
    }

    &-disclaimer {
      color: var(--text-block-disclaimer-color);
    }

    &-cta {
      color: transparent;
      background: linear-gradient(270deg, var(--text-block-cta-start) 0%, var(--text-block-cta-end) 100%);
      background-clip: text;

      &:hover {
        color: transparent;
        background: linear-gradient(270deg, var(--text-block-cta-start) 0%, var(--text-block-cta-end) 100%);
        background-clip: text;
      }
    }

    &-animation {
      & > a,
      & > div,
      & > figure,
      & > h1,
      & > h2,
      & > h3,
      & > h4,
      & > img,
      & > span {
        opacity: 0;
        transform: translateZ(0) translateY(30px);
        transition: opacity .4s cubic-bezier(.4, 0, .2, 1), transform .4s cubic-bezier(.4, 0, .2, 1);
      }
    }
  }
}

.small-cards {
  #{&}-containers {
    width: 87.5vw;
    margin: 0 auto;
    max-width: 320px;

    .swiper-slide {
      width: 260px;
    }

    @media (width >= 768px) {
      max-width: 896px;

      .swiper-slide {
        width: 326px;
      }
    }

    @media (width > 1024px) {
      max-width: 1260px;

      .swiper-slide {
        width: 407px;
      }
    }
  }
}
/* stylelint-enable media-feature-range-notation, rule-empty-line-before, length-zero-no-unit, color-function-alias-notation, color-function-notation, alpha-value-notation */