/* stylelint-disable declaration-empty-line-before, custom-property-pattern, declaration-block-no-duplicate-properties, property-no-vendor-prefix, at-rule-empty-line-before, selector-class-pattern, shorthand-property-no-redundant-values, media-feature-range-notation, rule-empty-line-before, length-zero-no-unit, color-function-alias-notation, color-function-notation, alpha-value-notation */

.l4-pdp {
  &[data-product="asus"] {
    &[data-mode="light"],
    .section-light {
      --text-block-title-color: transparent;
      --text-block-title-gradient: linear-gradient(270deg, #0062CD 0%, #004691 100%);
      --text-block-body-color: #181818;
      --text-block-disclaimer-color: #666;
      --text-block-cta-start: #0062CD;
      --text-block-cta-end: #004691;
      --link-font-color-start: #0062CD;
      --link-font-color-end: #004691;
      --anchor-color-default: #FFF;// Start
      --anchor-color-hover: #FFF;
      --anchor-color-press: #FFF;
      --anchor-bg-default: linear-gradient(90deg, #4379B1 0%, #5977A1 100%);
      --anchor-bg-hover: linear-gradient(90deg, #00346B 0%, #192533 100%);
      --anchor-bg-press: linear-gradient(90deg, #566E91 0%, #0E447C 100%);
      --anchor-border-radius: 50%;
      --anchor-border-width-default: '';
      --anchor-border-width-hover: '';
      --anchor-border-width-press: '';
      --anchor-border-color-default: '';
      --anchor-border-color-hover: '';
      --anchor-border-color-press: '';
      --arrow-border-radius: 50%;
      --arrow-container-bg-default: linear-gradient(90deg, #4379B1 0%, #5977A1 100%);
      --arrow-container-bg-hover: linear-gradient(90deg, #566E91 0%, #0E447C 100%);
      --arrow-container-bg-press: linear-gradient(90deg, #566E91 0%, #0E447C 100%);
      --arrow-container-bg-disable: rgba(203, 205, 221, 0.42);
      --arrow-color-default: #FFF;
      --arrow-color-hover: #FFF;
      --arrow-color-press: #FFF;
      --arrow-color-disable: rgba(0, 0, 0, 0.3);
      --arrow-border-width-default: 0px;
      --arrow-border-width-hover: 0px;
      --arrow-border-width-press: 0px;
      --arrow-border-width-disable: 0px;
      --arrow-border-color-default: transparent;
      --arrow-border-color-hover: transparent;
      --arrow-border-color-press: transparent;
      --arrow-border-color-disable: transparent;
      --swiper-slide-border-width: 0px;
      --swiper-slide-border-color: transparent;
      --swiper-wrapper-bg-color: #FFF;
      --swiper-slide-bg-color: #F5F5F5;
      --swiper-slide-border-radius: 28px;
      --swiper-slide-title-color: #181818;
      --swiper-slide-info-color: #4D4D4D;
      --themecolor-middle: 67, 121, 177;
      --themecolor-main: 67, 121, 177;
      --ai-noise-container-bg: #F5F5F5;
    }

    &[data-mode="dark"],
    .section-dark {
      --text-block-category-color: #999;
      --text-block-title-color: transparent;
      --text-block-title-gradient: linear-gradient(270deg, #C3E0FF 0%, #78BCFF 100%);
      --text-block-body-color: #FFF;
      --text-block-disclaimer-color: #999;
      --text-block-cta-start: #C3E0FF;
      --text-block-cta-end: #78BCFF;
      --link-font-color-start: #C3E0FF;
      --link-font-color-end: #78BCFF;
      --anchor-color-default: #FFF;
      --anchor-color-hover: #FFF;
      --anchor-color-press: #FFF;
      --anchor-bg-default: linear-gradient(90deg, #476991 0%, #5C6F80 100%);
      --anchor-bg-hover: linear-gradient(90deg, #98AABA 0%, #658DBC 100%);
      --anchor-bg-press: linear-gradient(90deg, #98AABA 0%, #658DBC 100%);
      --anchor-border-radius: 50%;
      --anchor-border-width-default: '';
      --anchor-border-width-hover: '';
      --anchor-border-width-press: '';
      --anchor-border-color-default: '';
      --anchor-border-color-hover: '';
      --anchor-border-color-press: '';
      --arrow-border-radius: 50%;
      --arrow-container-bg-default: linear-gradient(90deg, #476991 0%, #5C6F80 100%);
      --arrow-container-bg-hover: linear-gradient(90deg, #98AABA 0%, #658DBC 100%);
      --arrow-container-bg-press: linear-gradient(90deg, #98AABA 0%, #658DBC 100%);
      --arrow-container-bg-disable: rgba(203, 205, 221, 0.42);
      --arrow-color-default: #FFF;
      --arrow-color-hover: #FFF;
      --arrow-color-press: #FFF;
      --arrow-color-disable: rgba(0, 0, 0, 0.3);
      --arrow-border-width-default: 0px;
      --arrow-border-width-hover: 0px;
      --arrow-border-width-press: 0px;
      --arrow-border-width-disable: 0px;
      --arrow-border-color-default: transparent;
      --arrow-border-color-hover: transparent;
      --arrow-border-color-press: transparent;
      --arrow-border-color-disable: transparent;
      --swiper-slide-border-width: 0px;
      --swiper-slide-border-color: transparent;
      --swiper-wrapper-bg-color: #000;
      --swiper-slide-bg-color: #16151B;
      --swiper-slide-border-radius: 28px;
      --swiper-slide-title-color: #FFF;
      --swiper-slide-info-color: #C9C9C9;
      --themecolor-middle: 71, 105, 145;
      --themecolor-main: 71, 105, 145;
      --ai-noise-container-bg: #16151B;
    }
  }

  &[data-product="proart"] {
    &[data-mode="light"],
    .section-light {
      --text-block-category-color: #123;
      --text-block-title-color: transparent;
      --text-block-title-gradient: linear-gradient(270deg, #6B4F35 0%, #8D684E 100%);
      --text-block-body-color: #181818;
      --text-block-disclaimer-color: #666;
      --text-block-cta-start: #6B4F35;
      --text-block-cta-end: #8D684E;
      --link-font-color-start: #6B4F35;
      --link-font-color-end: #8D684E;
      --anchor-color-default: #FFF;
      --anchor-color-hover: #FFF;
      --anchor-color-press: #FFF;
      --anchor-bg-default: linear-gradient(90deg, #806238 0%, #87715A 100%);
      --anchor-bg-hover: linear-gradient(90deg, #654313 0%, #665441 100%);
      --anchor-bg-press: linear-gradient(90deg, #654313 0%, #665441 100%);
      --anchor-border-radius: 50%;
      --anchor-border-width-default: '';
      --anchor-border-width-hover: '';
      --anchor-border-width-press: '';
      --anchor-border-color-default: '';
      --anchor-border-color-hover: '';
      --anchor-border-color-press: '';
      --arrow-border-radius: 50%;
      --arrow-container-bg-default: linear-gradient(90deg, #806238 0%, #87715A 100%);
      --arrow-container-bg-hover: linear-gradient(90deg, #654313 0%, #665441 100%);
      --arrow-container-bg-press: linear-gradient(90deg, #654313 0%, #665441 100%);
      --arrow-container-bg-disable: rgba(203, 205, 221, 0.42);
      --arrow-color-default: #FFF;
      --arrow-color-hover: #FFF;
      --arrow-color-press: #FFF;
      --arrow-color-disable: rgba(0, 0, 0, 0.3);
      --arrow-border-width-default: 0px;
      --arrow-border-width-hover: 0px;
      --arrow-border-width-press: 0px;
      --arrow-border-width-disable: 0px;
      --arrow-border-color-default: transparent;
      --arrow-border-color-hover: transparent;
      --arrow-border-color-press: transparent;
      --arrow-border-color-disable: transparent;
      --swiper-slide-border-width: 0px;
      --swiper-slide-border-color: transparent;
      --swiper-wrapper-bg-color: #FFF;
      --swiper-slide-bg-color: #F5F5F5;
      --swiper-slide-border-radius: 28px;
      --swiper-slide-title-color: #181818;
      --swiper-slide-info-color: #4D4D4D;
      --themecolor-middle: 67, 121, 177;
      --themecolor-main: 67, 121, 177;
      --ai-noise-container-bg: #F5F5F5;
    }

    &[data-mode="dark"],
    .section-dark {
      --text-block-category-color: #999;
      --text-block-title-color: transparent;
      --text-block-title-gradient: linear-gradient(270deg, #9F7A56 0%, #DFC9A9 100%);
      --text-block-body-color: #FFF;
      --text-block-disclaimer-color: #999;
      --text-block-cta-start: #9F7A56;
      --text-block-cta-end: #DFC9A9;
      --link-font-color-start: #9F7A56;
      --link-font-color-end: #DFC9A9;
      --anchor-color-default: #FFF;
      --anchor-color-hover: #FFF;
      --anchor-color-press: #FFF;
      --anchor-bg-default: linear-gradient(90deg, #84643E 0%, #7E6746 100%);
      --anchor-bg-hover: linear-gradient(90deg, #8F6E4D 0%, #A49073 100%);
      --anchor-bg-press: linear-gradient(90deg, #8F6E4D 0%, #A49073 100%);
      --anchor-border-radius: 50%;
      --anchor-border-width-default: '';
      --anchor-border-width-hover: '';
      --anchor-border-width-press: '';
      --anchor-border-color-default: '';
      --anchor-border-color-hover: '';
      --anchor-border-color-press: '';
      --arrow-border-radius: 50%;
      --arrow-container-bg-default: linear-gradient(90deg, #84643E 0%, #7E6746 100%);
      --arrow-container-bg-hover: linear-gradient(90deg, #8F6E4D 0%, #A49073 100%);
      --arrow-container-bg-press: linear-gradient(90deg, #8F6E4D 0%, #A49073 100%);
      --arrow-container-bg-disable: rgba(203, 205, 221, 0.42);
      --arrow-color-default: #FFF;
      --arrow-color-hover: #FFF;
      --arrow-color-press: #FFF;
      --arrow-color-disable: rgba(0, 0, 0, 0.3);
      --arrow-border-width-default: 0px;
      --arrow-border-width-hover: 0px;
      --arrow-border-width-press: 0px;
      --arrow-border-width-disable: 0px;
      --arrow-border-color-default: transparent;
      --arrow-border-color-hover: transparent;
      --arrow-border-color-press: transparent;
      --arrow-border-color-disable: transparent;
      --swiper-slide-border-width: 0px;
      --swiper-slide-border-color: transparent;
      --swiper-wrapper-bg-color: #000;
      --swiper-slide-bg-color: #16151B;
      --swiper-slide-border-radius: 28px;
      --swiper-slide-title-color: #FFF;
      --swiper-slide-info-color: #C9C9C9;
      --themecolor-middle: 71, 105, 145;
      --themecolor-main: 71, 105, 145;
      --ai-noise-container-bg: #16151B;
    }
  }

  &[data-product="rog"] {
    &[data-mode="light"],
    .section-light {
      --text-block-category-color: #CC000E;
      --text-block-title-color: #181818;
      --text-block-title-gradient: '';
      --text-block-body-color: #181818;
      --text-block-disclaimer-color: #666;
      --text-block-cta-start: #CC000E;
      --text-block-cta-end: #CC000E;
      --link-font-color-start: #CC000E;
      --link-font-color-end: #CC000E;
      --anchor-color-default: #FFF;
      --anchor-color-hover: #FFF;
      --anchor-color-press: #FFF;
      --anchor-bg-default: #DB0004;
      --anchor-bg-hover: #A8000C;
      --anchor-bg-press: #A8000C;
      --anchor-border-radius: 0;
      --anchor-border-width-default: '';
      --anchor-border-width-hover: '';
      --anchor-border-width-press: '';
      --anchor-border-color-default: '';
      --anchor-border-color-hover: '';
      --anchor-border-color-press: '';
      --arrow-border-radius: 0;
      --arrow-container-bg-default: #DB0004;
      --arrow-container-bg-hover: #A8000C;
      --arrow-container-bg-press: #A8000C;
      --arrow-container-bg-disable: rgba(203, 205, 221, 0.42);
      --arrow-color-default: #FFF;
      --arrow-color-hover: #FFF;
      --arrow-color-press: #FFF;
      --arrow-color-disable: rgba(0, 0, 0, 0.3);
      --arrow-border-width-default: 0px;
      --arrow-border-width-hover: 0px;
      --arrow-border-width-press: 0px;
      --arrow-border-width-disable: 0px;
      --arrow-border-color-default: transparent;
      --arrow-border-color-hover: transparent;
      --arrow-border-color-press: transparent;
      --arrow-border-color-disable: transparent;
      --swiper-slide-border-width: 0px;
      --swiper-slide-border-color: transparent;
      --swiper-wrapper-bg-color: #FFF;
      --swiper-slide-bg-color: #F5F5F5;
      --swiper-slide-border-radius: 0px;
      --swiper-slide-title-color: #181818;
      --swiper-slide-info-color: #4D4D4D;
      --themecolor-middle: 67, 121, 177;
      --themecolor-main: 67, 121, 177;
      --ai-noise-container-bg: #F5F5F5;
    }

    &[data-mode="dark"],
    .section-dark {
      --text-block-category-color: #FF0F0F;
      --text-block-title-color: #FFF;
      --text-block-title-gradient: '';
      --text-block-body-color: #FFF;
      --text-block-disclaimer-color: #999;
      --text-block-cta-start: #FF0F0F;
      --text-block-cta-end: #FF0F0F;
      --link-font-color-start: #FF0F0F;
      --link-font-color-end: #FF0F0F;
      --anchor-color-default: #FFF;
      --anchor-color-hover: #FFF;
      --anchor-color-press: #FFF;
      --anchor-bg-default: #D1000E;
      --anchor-bg-hover: #DA1723;
      --anchor-bg-press: #DA1723;
      --anchor-border-radius: 0;
      --anchor-border-width-default: '';
      --anchor-border-width-hover: '';
      --anchor-border-width-press: '';
      --anchor-border-color-default: '';
      --anchor-border-color-hover: '';
      --anchor-border-color-press: '';
      --arrow-border-radius: 0;
      --arrow-container-bg-default: #D1000E;
      --arrow-container-bg-hover: #DA1723;
      --arrow-container-bg-press: #DA1723;
      --arrow-container-bg-disable: rgba(203, 205, 221, 0.42);
      --arrow-color-default: #FFF;
      --arrow-color-hover: #FFF;
      --arrow-color-press: #FFF;
      --arrow-color-disable: rgba(0, 0, 0, 0.3);
      --arrow-border-width-default: 0px;
      --arrow-border-width-hover: 0px;
      --arrow-border-width-press: 0px;
      --arrow-border-width-disable: 0px;
      --arrow-border-color-default: transparent;
      --arrow-border-color-hover: transparent;
      --arrow-border-color-press: transparent;
      --arrow-border-color-disable: transparent;
      --swiper-slide-border-width: 0px;
      --swiper-slide-border-color: transparent;
      --swiper-wrapper-bg-color: #000;
      --swiper-slide-bg-color: #16151B;
      --swiper-slide-border-radius: 0;
      --swiper-slide-title-color: #FFF;
      --swiper-slide-info-color: #C9C9C9;
      --themecolor-middle: 71, 105, 145;
      --themecolor-main: 71, 105, 145;
      --ai-noise-container-bg: #16151B;
    }
  }

  &[data-product="tuf"] {
    &[data-mode="light"],
    .section-light {
      --text-block-category-color: #666;
      --text-block-title-color: #181818;
      --text-block-title-gradient: '';
      --text-block-body-color: #181818;
      --text-block-disclaimer-color: #666;
      --text-block-cta-start: #181818;
      --text-block-cta-end: #181818;
      --link-font-color-start: #181818;
      --link-font-color-end: #181818;
      --anchor-color-default: #FFF;
      --anchor-color-hover: #FFF;
      --anchor-color-press: #FFF;
      --anchor-bg-default: #181818;
      --anchor-bg-hover: #262626;
      --anchor-bg-press: #262626;
      --anchor-border-radius: 0;
      --anchor-border-width-default: '';
      --anchor-border-width-hover: '';
      --anchor-border-width-press: '';
      --anchor-border-color-default: '';
      --anchor-border-color-hover: '';
      --anchor-border-color-press: '';
      --arrow-border-radius: 0;
      --arrow-container-bg-default: #181818;
      --arrow-container-bg-hover: #262626;
      --arrow-container-bg-press: #262626;
      --arrow-container-bg-disable: rgba(203, 205, 221, 0.42);
      --arrow-color-default: #FFF;
      --arrow-color-hover: #FFF;
      --arrow-color-press: #FFF;
      --arrow-color-disable: rgba(0, 0, 0, 0.3);
      --arrow-border-width-default: 0px;
      --arrow-border-width-hover: 0px;
      --arrow-border-width-press: 0px;
      --arrow-border-width-disable: 0px;
      --arrow-border-color-default: transparent;
      --arrow-border-color-hover: transparent;
      --arrow-border-color-press: transparent;
      --arrow-border-color-disable: transparent;
      --swiper-slide-border-width: 0px;
      --swiper-slide-border-color: transparent;
      --swiper-wrapper-bg-color: #FFF;
      --swiper-slide-bg-color: #F5F5F5;
      --swiper-slide-border-radius: 0px;
      --swiper-slide-title-color: #181818;
      --swiper-slide-info-color: #4D4D4D;
      --themecolor-middle: 67, 121, 177;
      --themecolor-main: 67, 121, 177;
      --ai-noise-container-bg: #F5F5F5;
    }

    &[data-mode="dark"],
    .section-dark {
      --text-block-category-color: #FF9E1B;
      --text-block-title-color: #FFF;
      --text-block-title-gradient: '';
      --text-block-body-color: #FFF;
      --text-block-disclaimer-color: #999;
      --text-block-cta-start: #FF9E1B;
      --text-block-cta-end: #FF9E1B;
      --link-font-color-start: #FF9E1B;
      --link-font-color-end: #FF9E1B;
      --anchor-color-default: #FFF;
      --anchor-color-hover: #FFF;
      --anchor-color-press: #FFF;
      --anchor-bg-default: #FF9E1B;
      --anchor-bg-hover: #D37B00;
      --anchor-bg-press: #D37B00;
      --anchor-border-radius: 0;
      --anchor-border-width-default: '';
      --anchor-border-width-hover: '';
      --anchor-border-width-press: '';
      --anchor-border-color-default: '';
      --anchor-border-color-hover: '';
      --anchor-border-color-press: '';
      --arrow-border-radius: 0;
      --arrow-container-bg-default: #FF9E1B;
      --arrow-container-bg-hover: #D37B00;
      --arrow-container-bg-press: #D37B00;
      --arrow-container-bg-disable: rgba(203, 205, 221, 0.42);
      --arrow-color-default: #FFF;
      --arrow-color-hover: #FFF;
      --arrow-color-press: #FFF;
      --arrow-color-disable: rgba(0, 0, 0, 0.3);
      --arrow-border-width-default: 0px;
      --arrow-border-width-hover: 0px;
      --arrow-border-width-press: 0px;
      --arrow-border-width-disable: 0px;
      --arrow-border-color-default: transparent;
      --arrow-border-color-hover: transparent;
      --arrow-border-color-press: transparent;
      --arrow-border-color-disable: transparent;
      --swiper-slide-border-width: 0px;
      --swiper-slide-border-color: transparent;
      --swiper-wrapper-bg-color: #000;
      --swiper-slide-bg-color: #16151B;
      --swiper-slide-border-radius: 0px;
      --swiper-slide-title-color: #FFF;
      --swiper-slide-info-color: #C9C9C9;
      --themecolor-middle: 71, 105, 145;
      --themecolor-main: 71, 105, 145;
      --ai-noise-container-bg: #16151B;
    }
  }
}

.small-cards {
  .small-cards-containers {
    width: 87.5vw;
    margin: 0 auto;
    max-width: 320px;

    .swiper-slide {
      width: 260px;
      border-radius: var(--swiper-slide-border-radius);
    }

    @media (width >= 768px) {
      max-width: 896px;

      .swiper-slide {
        width: 326px;
      }
    }

    @media (width > 1024px) {
      max-width: 1260px;

      .swiper-slide {
        width: 407px;
      }
    }
    .img__bg {
      // aspect-ratio: 1/1;
    }
    .video__bg {
      aspect-ratio: auto;
    }

    .swiper-wrapper {
      justify-content: flex-start;
    }

    .swiper-button-prev,
    .swiper-button-next {
      background: var(--arrow-container-bg-default);
      color: var(--arrow-color-default);
      border: var(--arrow-border-width-default) solid var(--arrow-border-color-default);
      width: 36px;
      height: 36px;
      border-radius: var(--arrow-border-radius);
      position: absolute;
      top: auto;
      bottom: -60px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;

      &::after {
        font-size: 12px;
      }

      &:hover {
        background: var(--arrow-container-bg-hover);
        color: var(--arrow-color-hover);
        border-color: var(--arrow-border-color-hover);
        border-width: var(--arrow-border-width-hover);
      }

      &:active {
        background: var(--arrow-container-bg-press);
        color: var(--arrow-color-press);
        border-color: var(--arrow-border-color-press);
        border-width: var(--arrow-border-width-press);
      }
    }

    .swiper-button-next {
      right: 10px;
    }

    .swiper-button-prev {
      right: 60px;
      left: auto;
    }

    .swiper-button-disabled {
      &,
      &:hover,
      &:active {
        background: var(--arrow-container-bg-disable);
        color: var(--arrow-color-disable);
        border-color: var(--arrow-border-color-disable);
        border-width: var(--arrow-border-width-disable);
        opacity: 0.42;
        pointer-events: none;
      }
    }

    .swiper-button-prev.arrow-png,
    .swiper-button-next.arrow-png {
      background: none;
      border: none;
      border-radius: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: none;
      }

      .arrow-default {
        display: block;
      }

      &:hover {
        .arrow-default {
          display: none;
        }

        .arrow-hover {
          display: block;
        }
      }

      &:active {
        .arrow-hover {
          display: none;
        }

        .arrow-press {
          display: block;
        }
      }
    }

    .swiper-button-disabled.arrow-png {
      .arrow-default,
      &:hover .arrow-hover {
        display: none;
      }

      .arrow-disable {
        display: block;
      }
    }

    .card-icon-down {
      width: 36px;
      height: 36px;
      border-radius: var(--anchor-border-radius);
      position: absolute;
      bottom: 15px;
      right: 15px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;

      &.anchor-svg {
        background: var(--anchor-bg-default, linear-gradient(180deg, #4379B1 0%, #5977A1 100%));
        color: var(--anchor-color-default, #FFF);
        border: var(--anchor-border-width-default, 0px) solid var(--anchor-border-color-default, transparent);
        transition: all 0.3s ease;

        &:hover {
          background: var(--anchor-bg-hover, var(--anchor-bg-default));
          color: var(--anchor-color-hover, var(--anchor-color-default));
          border: var(--anchor-border-width-hover, var(--anchor-border-width-default)) solid var(--anchor-border-color-hover, var(--anchor-border-color-default));
        }

        &:active {
          background: var(--anchor-bg-press, var(--anchor-bg-hover));
          color: var(--anchor-color-press, var(--anchor-color-hover));
          border: var(--anchor-border-width-press, var(--anchor-border-width-hover)) solid var(--anchor-border-color-press, var(--anchor-border-color-hover));
        }
      }

      &.anchor-png {
        background: none;
        border-radius: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          display: none;
        }

        .anchor-default {
          display: block;
        }

        &:hover {
          .anchor-default {
            display: none;
          }

          .anchor-hover {
            display: block;
          }
        }

        &:active {
          .anchor-hover {
            display: none;
          }

          .anchor-press {
            display: block;
          }
        }
      }
    }

    .absolute {
      position: absolute;
    }

    .relative {
      position: relative;
    }

    .z-10 {
      z-index: 10;
    }

    .top-4 {
      top: 1rem;
    }

    .left-4 {
      left: 1rem;
    }

    .right-4 {
      right: 1rem;
    }

    .bottom-4 {
      bottom: 1rem;
    }

    .media-block-play-btn,
    .media-block-pause-btn,
    .media-block-replay-btn {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
      background: transparent;
      cursor: pointer;
      padding: 0;

      svg {
        width: 36px;
        height: 36px;
        display: block;
      }
    }

    .block:has(.card-icon-down) {
      .nav__noise {
        inset: auto auto 15px 15px;
        position: absolute;
        z-index: 2;
      }

      .nav__replay {
        inset: auto auto 15px 60px;
        position: absolute;
        z-index: 2;
      }
    }

    a.asus-icon-chevronright span::after {
      content: " >";
      font-weight: bold;
    }

    a.text-block-cta {
      background: linear-gradient(90deg, var(--link-font-color-start) 0%, var(--link-font-color-end) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-decoration: none;
      display: inline-block;
    }
  }

  .rounded-tl-lg {
    border-top-left-radius: 0.5rem;
  }
  .rounded-tr-lg {
    border-top-right-radius: 0.5rem;
  }
  .rounded-br-lg {
    border-bottom-right-radius: 0.5rem;
  }
  .rounded-bl-lg {
    border-bottom-left-radius: 0.5rem;
  }
  .rounded-tl-md {
    border-top-left-radius: 0.375rem;
  }
  .rounded-tr-md {
    border-top-right-radius: 0.375rem;
  }
  .rounded-br-md {
    border-bottom-right-radius: 0.375rem;
  }
  .rounded-bl-md {
    border-bottom-left-radius: 0.375rem;
  }
  .rounded-tl-sm {
    border-top-left-radius: 0.25rem;
  }
  .rounded-tr-sm {
    border-top-right-radius: 0.25rem;
  }
  .rounded-br-sm {
    border-bottom-right-radius: 0.25rem;
  }
  .rounded-bl-sm {
    border-bottom-left-radius: 0.25rem;
  }
  .rounded-circle {
    border-radius: 50%;
  }

  .img_txt_integrated_top .block-content {// img_txt_integrated_top
    padding: 24px 24px 0 24px;
  }

  .img_txt_integrated_top .block-content .btn-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12.4px;
  }

  .img_txt_integrated_top .block-content .btn-wrapper .btn.block {
    padding-top: 8px;
    padding-bottom: 24px;      
  }

  .img_txt_integrated_bottom .block-content {// img_txt_integrated_bottom
    padding: 24px 24px 48px 24px;
  }

  .img_txt_integrated_bottom .block-content .btn-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12.4px;
  }

  .img_txt_integrated_bottom .block-content .btn-wrapper .btn.block{
    padding-top: 8px;
  }

  .img_txt_separate_bottom {// img_txt_separate_bottom
    background-color: transparent;
  }

  .img_txt_separate_bottom .block-content {
    padding: 24px 15px 0 15px;
  }

  .img_txt_separate_bottom .block-content .btn-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12.4px;
  }

  .img_txt_separate_bottom .block-content .btn-wrapper .btn.block{
    padding-top: 8px;
  }

  .txt_img_attached_top .block-content {// txt_img_attached_top
    padding: 24px 24px 24px 24px;
  }

  .txt_img_attached_top .block-content .btn-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12.4px;
  }

  .txt_img_attached_top .block-content .btn-wrapper .btn.block {
    padding-top: 8px;
  }

  .txt_img_attached_bottom .block-content {// txt_img_attached_bottom
    padding: 24px 24px 48px 24px;
  }

  .txt_img_attached_bottom .block-content .btn-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12.4px;
  }

  .txt_img_attached_bottom .block-content .btn-wrapper .btn.block{
    padding-top: 8px;
  }

  .text_only .block-content {// text_only
    padding: 24px;
  }

  .text_only .block-content .btn-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12.4px;
  }

  .text_only .block-content .btn-wrapper .btn.block{
    padding-top: 8px;
  }

  @media (width >= 768px) {
    .img_txt_integrated_top .block-content {// img_txt_integrated_top
      padding: 28px 28px 0 28px;
    }

    .img_txt_integrated_top .block-content .btn-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 14.4px;
    }

    .img_txt_integrated_top .block-content .btn-wrapper .btn.block {
      padding-top: 10px;
      padding-bottom: 40px;      
    }

    .img_txt_integrated_bottom .block-content {// img_txt_integrated_bottom
      padding: 28px 28px 48px 28px;
    }

    .img_txt_integrated_bottom .block-content .btn-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 14.4px;
    }

    .img_txt_integrated_bottom .block-content .btn-wrapper .btn.block {
      padding-top: 10px;
    }

    .img_txt_separate_bottom .block-content {// img_txt_separate_bottom
      padding: 28px 15px 0 15px;
    }

    .img_txt_separate_bottom .block-content .btn-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 14.4px;
    }

    .img_txt_separate_bottom .block-content .btn-wrapper .btn.block{
      padding-top: 10px;      
    }

    .txt_img_attached_top .block-content {// txt_img_attached_top
      padding: 28px 28px 28px 28px;
    }

    .txt_img_attached_top .block-content .btn-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 14.4px;
    }

    .txt_img_attached_top .block-content .btn-wrapper .btn.block {
      padding-top: 10px;   
    }

    .txt_img_attached_bottom .block-content {// txt_img_attached_bottom
      padding: 28px 28px 48px 28px;
    }

    .txt_img_attached_bottom .block-content .btn-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 14.4px;
    }

    .txt_img_attached_bottom .block-content .btn-wrapper .btn.block {
      padding-top: 10px;
    }

    .text_only .block-content {// text_only
      padding: 28px;
    }

    .text_only .block-content .btn-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 14.4px;
    }

    .text_only .block-content .btn-wrapper .btn.block {
      padding-top: 10px;
    }
  }

  @media (width > 1024px) {
    .img_txt_integrated_top .block-content {// img_txt_integrated_top
      padding: 32px 32px 0 32px;
    }

    .img_txt_integrated_top .block-content .btn-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 14.4px;
    }

    .img_txt_integrated_top .block-content .btn-wrapper .btn.block{
      padding-top: 10px;
      padding-bottom: 40px;      
    }

    .img_txt_integrated_bottom .block-content {// img_txt_integrated_bottom
      padding: 32px 32px 48px 32px;
    }

    .img_txt_integrated_bottom .block-content .btn-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 14.4px;
    }

    .img_txt_integrated_bottom .block-content .btn-wrapper .btn.block {
      padding-top: 10px;
    }

    .img_txt_separate_bottom .block-content {// img_txt_separate_bottom
      padding: 32px 15px 0 15px;
    }

    .img_txt_separate_bottom .block-content .btn-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 14.4px;
    }

    .img_txt_separate_bottom .block-content .btn-wrapper .btn.block{
      padding-top: 10px;
    }

    .txt_img_attached_top .block-content {// txt_img_attached_top
      padding: 32px 32px 32px 32px;
    }

    .txt_img_attached_top .block-content .btn-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 14.4px;
    }

    .txt_img_attached_top .block-content .btn-wrapper .btn.block{
      padding-top: 10px;
    }

    .txt_img_attached_bottom .block-content {// txt_img_attached_bottom
      padding: 32px 32px 48px 32px;
    }

    .txt_img_attached_bottom .block-content .btn-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 14.4px;
    }

    .txt_img_attached_bottom .block-content .btn-wrapper .btn.block {
      padding-top: 10px;
    }

    .text_only .block-content {// text_only
      padding: 32px;
    }

    .text_only .block-content .btn-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 14.4px;
    }

    .text_only .block-content .btn-wrapper .btn.block {
      padding-top: 10px;
    }
  }

  .item__media .hide {
    position: absolute;
    opacity: 0;
    height: 0;
  }

.item__media .ai__noise__container {
  --themecolor-main: 95, 95, 95;
  --themecolor-middle: 165, 165, 165;
  --themecolor-filter: 255, 0, 0;
  display: flex;
  position: relative;
  bottom: 0;
  align-items: center;
  width: 100%;
  transition: margin-top 1000ms ease 0ms;
  flex-direction: column;
}

.item__media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item__media .ai__noise__container .noise__voice__container {
  height: var(--voice-iconSize);
  max-height: var(--voice-iconSize);
}

.item__media .ai__noise__container .nav__replay {
  position: absolute;
  z-index: 10;
  right: 56px;
  bottom: 12px;
}

.item__media .ai__noise__container .nav__replay .wd__play__btn {
 position: relative;
  bottom: 0;
  left: 0;
  margin-left: unset;
  border: 0;
  width: 36px;
  height: 36px;
  border-radius: 20px;
}

.item__media .ai__noise__container .nav__replay .wd__play__btn .wd__play__btn-button {
  border: 0;
  background: transparent;
  position: relative;
  cursor: pointer;
  opacity: 0.7;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.item__media .ai__noise__container .nav__replay .wd__play__btn path {
  fill: #4a47fe !important;
}

.item__media .ai__noise__container .nav__replay .wd__play__btn .wd__play__btn-button {
  display: block;
}

.item__media .ai__noise__container .nav__replay .wd__play__btn .wd__play__btn-button.is-hidden {
  display: none;
}

.item__media .ai__noise__container .nav__replay .wd__play__btn .svg_button_replay {
  opacity: 1;
}

.item__media .ai__noise__container .nav__replay .wd__play__btn:hover .wd__play__btn-button {
  opacity: 1;
}

.item__media .ai__noise__container .nav__noise {
  display: flex;
  position: absolute;
  z-index: 15;
  cursor: pointer;
  right: 12px;
  bottom: 12px;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.item__media .ai__noise__container .nav__noise .nav__item {
  display: flex;
  left: unset;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  margin: 0;
  padding: 0;
  transition: transform 300ms ease-out;
}

.item__media .ai__noise__container .nav__noise .nav__item:focus-visible,
.item__media .ai__noise__container .nav__noise .nav__item.focus-visible,
.item__media .ai__noise__container .nav__noise .nav__item.js-focus-visible,
.item__media .ai__noise__container .nav__noise .nav__item:hover {
  opacity: 1;
}

.item__media .ai__noise__container .nav__noise .nav__item .nav__content {
  display: flex;
  align-items: center;
}

.item__media .ai__noise__container .nav__noise .nav__item .nav__content .img__icon {
  display: inline-block;
  margin-right: 10px;
}

.item__media .ai__noise__container .nav__noise .nav__item .nav__content .img__icon .svg_button_play {
  width: 36px;
  height: 36px;
}

.item__media .ai__noise__container .nav__noise .nav__item .nav__content .img__icon .svg_button_play .svg-rect {
  fill: none;
}

.item__media .ai__noise__container .nav__noise .nav__item .nav__content .img__icon .svg_button_play .svg-stop path,
.item__media .ai__noise__container .nav__noise .nav__item .nav__content .img__icon .svg_button_play .svg-circle,
.item__media .ai__noise__container .nav__noise .nav__item .nav__content .img__icon .svg_button_play .svg-line {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4px;
  fill-rule: evenodd;
}

.item__media .ai__noise__container .nav__noise .nav__item .nav__content .img__icon .svg_button_play .svg-circle {
  fill: #fff;
  stroke-width: 4px;
}

.item__media .ai__noise__container .nav__noise .nav__item .nav__content .img__icon .svg_button_play .svg-triangle {
  clip-path: url('#clip-path');
}

.item__media .ai__noise__container .nav__noise .nav__item .nav__content .nav__text {
  display: inline-block;
  width: 160px;
  letter-spacing: 0.02em;
}

.item__media .ai__noise__container .nav__noise .nav__item .nav__content .nav__text .content__title {
  font-size: 23px;
  font-weight: 300;
}

.item__media .ai__noise__container .nav__noise .nav__item .nav__content .nav__text .content__info {
  font-size: 20px;
}

.item__media .ai__noise__container .nav__noise .nav__item.js-selected .nav__content .img__icon .svg_button_play .svg-triangle {
  opacity: 0;
}

.item__media .ai__noise__container .nav__noise .nav__item.js-selected .nav__content .img__icon .svg_button_play .svg-line {
  opacity: 1;
}

.item__media .ai__noise__container .noise__switcher {
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 13;
  bottom: 0;
  align-items: center;
  justify-content: center;
  opacity: 0;
  margin-top: 0;
  width: 80%;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
  max-height: 0;
}

.item__media .ai__noise__container .noise__switcher span {
  display: inline-block;
  margin-right: 10px;
  font-size: 28px;
  font-weight: 300;
}

.item__media .ai__noise__container .noise__switcher .img__switcher {
  display: inline-block;
  cursor: pointer;
  margin: 20px 0 0;
  padding: 0;
  width: 90px;
  height: 42px;
  min-height: 42px;
  border: 0;
  background-color: transparent;
  background-size: contain;
  background-image: url('./src/image/btn-off.png');
}

.item__media .ai__noise__container .noise__switcher .img__switcher.js-active {
  background-image: url('./src/image/btn-on.png');
  filter: hue-rotate(90deg);
}

.item__media .ai__noise__container .noise__switcher.js-showed {
  opacity: 1 !important;
  height: auto;
  max-height: 500px;
  filter: unset;
  pointer-events: unset;
}

.item__media .ai__noise__container .noise__switcher .noise_desc {
  width: 100%;
  max-width: 800px;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
}

.item__media .ai__noise__container .noise__voice__container {
  position: relative;
  top: 0;
  opacity: 1;
  height: 100%;
  max-height: 200px;
  pointer-events: none;
}

.item__media .ai__noise__container .noise__voice__container .noise__left {
  transform-origin: right center;
}

.item__media .ai__noise__container .noise__voice__container .noise__right {
  transform-origin: left center;
}

.item__media .ai__noise__container .noise__voice__container.js-active {
  opacity: 1;
  height: 300px;
  max-height: 700px;
  filter: unset;
  pointer-events: unset;
}

.item__media .ai__noise__container .img__noise {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0;
  height: 400px;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.item__media .ai__noise__container .img__noise .img__voice {
  display: inline-block;
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  margin-top: -162px;
  margin-left: -162px;
  width: 324px;
  height: 324px;
  background-size: contain;
  transform-origin: center;
}

.item__media .ai__noise__container .img__noise .noise__left {
  position: absolute;
  z-index: 40;
  top: 0;
  left: 50%;
  margin-left: -880px;
}

.item__media .ai__noise__container .img__noise .noise__right {
  position: absolute;
  z-index: 40;
  top: 0;
  left: 50%;
  margin-left: 80px;
}

.item__media .ai__noise__container .nav__noise .nav__item {
  width: auto;
}

.item__media .ai__noise__container .nav__noise .nav__item .nav__content {
  width: 100%;
}

.item__media .ai__noise__container .nav__noise .nav__item .nav__content .nav__text {
  width: 100%;
}

.item__media .ai__noise__container .nav__noise .nav__item .nav__content .img__icon {
  margin-right: 0;
  margin-left: 0;
    height: 36px;

}

.item__media .ai__noise__container {
  --voice-iconSize: 280px;
}

.item__media .ai__noise__container .img__noise .img__voice {
  --voice-start: #9db9eb;
  --voice-end: #5a4f89;
  --voice-bgcolor: #222;

  margin-top: calc(var(--voice-iconSize) * -0.5);
  margin-left: calc(var(--voice-iconSize) * -0.5);
  width: var(--voice-iconSize);
  height: var(--voice-iconSize);
}

.item__media .ai__noise__container .svg_button_play .svg-step {
  transition: opacity 250ms linear 0ms;
  opacity: 0;
}

.item__media .ai__noise__container .svg_button_play .svg-triangle {
  opacity: 1;
}

.item__media .ai__noise__container.js-active .svg_button_play .svg-step.svg-triangle {
  opacity: 0;
}

.item__media .ai__noise__container.js-active .svg_button_play .svg-step.svg-stop {
  opacity: 1;
  transition: opacity 250ms linear 100ms;
}

.item__media .ai__noise__container {
  --img-icon-base-color: #4a47fe;
  --img-icon-bg-color: #fff;
}

.item__media .ai__noise__container .svg_button_replay path {
  fill: var(--img-icon-base-color) !important;
}

.item__media .ai__noise__container .svg_button_play .svg-circle {
  fill: var(--img-icon-bg-color) !important;
  stroke: var(--img-icon-base-color) !important;
}

.item__media .ai__noise__container .svg_button_play .svg-line {
  fill: var(--img-icon-base-color) !important;
  stroke: transparent;
}

.item__media .ai__noise__container .svg_button_play .svg-triangle .triangle {
  fill: var(--img-icon-base-color) !important;
}

.item__media .ai__noise__container .svg_button_play .svg-stop {
  opacity: 0;
}

.item__media .ai__noise__container .svg_button_play .svg-stop path {
  fill: var(--img-icon-base-color) !important;
}

@keyframes height-max {
  0% { max-height: 0; }
  100% { max-height: 2000px; }
}

@keyframes height-min {
  0% { max-height: 2000px; }
  100% { max-height: 0; }
}

@keyframes noise-switcher-margin-top {
  0% { margin-top: 0; }
  50% { margin-top: -20px; }
  100% { margin-top: -20px; }
}

.item__media .ai__noise__container {
  height: auto;
  max-height: 2000px;
}

.item__media .ai__noise__container .noise__switcher {
  animation-name: height-min;
  animation-duration: 580ms;
  animation-fill-mode: forwards;
  animation-delay: 0ms;
  animation-timing-function: ease-out;
}

.item__media .ai__noise__container .noise__switcher[aria-hidden='true'] button {
  display: none;
}

.item__media .ai__noise__container .noise__switcher.js-showed {
  transition: opacity 500ms linear 450ms, margin-top 0ms linear 200ms, margin-bottom 0ms linear 200ms;
  animation-name: height-max;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
}

.item__media .ai__noise__container .noise__voice__container {
  transition: top 0 linear 0;
}

.item__media .ai__noise__container .noise__voice__container.js-active {
  transition: top 310ms ease-in-out 32ms;
}

.item__media .ai__noise__container .img__voice {
  transition: transform 583ms ease-in-out 0ms;
}

.item__media .ai__noise__container.js-active {
  max-height: 2000px;
}

.item__media .ai__noise__container.js-active .img__voice {
  transition: transform 400ms ease-in-out 301ms;
}

}

/* stylelint-enable declaration-empty-line-before, custom-property-pattern, declaration-block-no-duplicate-properties, property-no-vendor-prefix, at-rule-empty-line-before, selector-class-pattern, shorthand-property-no-redundant-values, media-feature-range-notation, rule-empty-line-before, length-zero-no-unit, color-function-alias-notation, color-function-notation, alpha-value-notation */