/* stylelint-disable declaration-property-value-no-unknown, declaration-block-no-duplicate-properties, rule-empty-line-before, no-duplicate-selectors, value-no-vendor-prefix, property-no-vendor-prefix, selector-pseudo-element-colon-notation, media-feature-range-notation, comment-empty-line-before, selector-attribute-quotes, declaration-empty-line-before, length-zero-no-unit, color-function-alias-notation */

.dialog-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding-top: 0;
    z-index: 9999;
    height: 100vh;
    background:var(--color-primary)
}

.dialog-container[aria-hidden=true] {
  display: none;
}

.dialog-container--full-screen {
  padding: 0;
}

.dialog-container .dialog-overlay {
  position: fixed;
  inset: 0;
}

.dialog-container .dialog-content {
  position: relative;
  margin: 0 auto;
  padding: 3rem;
  max-height: 100vh;
  overflow-y: auto;
}

html:has(.dialog-container:not([aria-hidden=true])) {
  overflow: hidden;
}

.dialog-close {
    position: fixed;
    border: none;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    margin: 0;
}