/* stylelint-disable declaration-property-value-no-unknown, declaration-block-no-duplicate-properties, rule-empty-line-before, no-duplicate-selectors, value-no-vendor-prefix, property-no-vendor-prefix, selector-pseudo-element-colon-notation, media-feature-range-notation, comment-empty-line-before, selector-attribute-quotes, declaration-empty-line-before, length-zero-no-unit, color-function-alias-notation */

.dialog-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding-top: 0;
    z-index: 9999;
    height: 100vh;
    background-color: #fff;
}

.dialog-container[aria-hidden=true] {
  display: none;
}

.dialog-container--full-screen {
  padding: 0;
}

.dialog-container .dialog-overlay {
  position: fixed;
  inset: 0;
}

.dialog-container .dialog-content {
  position: relative;
  margin: 0 auto;
  padding: 3rem;
  max-height: 100vh;
  overflow-y: auto;
}

.dialog-container .dialog-content .dialog-title {
  font-family: var(--font-display);
  font-weight: var(--medium);
  letter-spacing: 0;
  font-size: 1.875rem;
  line-height: 2.375rem;
  margin-bottom: 2rem;
}

.dialog-container .dialog-content .dialog-section:not(:last-child) {
  margin-bottom: 2rem;
}

.dialog-container .dialog-content .dialog-section-title {
  font-family: var(--font-display);
  font-weight: var(--medium);
  letter-spacing: 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.dialog-container .dialog-content ul {
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  padding-left: 1.25rem;
}

.dialog-container .dialog-content ul li {
  margin-bottom: 0.5rem;
}

.dialog-container .dialog-content ul li .fps-label {
  display: inline-block;
  font-weight: 500;
  color: var(--color-primary-50);
}

.dialog-container .dialog-content .dialog-image--rounded {
  width: 100%;
  border-radius: 0.75rem;
}

.dialog-close {
    position: fixed;
    border: none;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    margin: 0;
    color:#fff;
    background:#000;
}

.dialog-container.dialog--boxed {
  background: var(--color-primary-base);
  color: var(--color-primary-100);
}

.dialog-container.dialog--boxed .dialog-content {
  width: 100%;
  margin: 0 auto;
  max-width: 680px;
  border-radius: 1rem;
  padding: 3rem;
  margin-bottom: 5rem;
}

.dialog-container.dialog--boxed .dialog-close {
  position: absolute;
  border: none;
  top: 1rem;
  right: 1rem;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M25 7L7 25M7 7L25 25" stroke="%234D4D4D" stroke-width="1.5" stroke-linecap="round"/></svg>') center/contain no-repeat;
}

.dialog-container.dialog--boxed .back-link {
  color: var(--color-primary-100);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  border: none;
  background: none;
  font-family: var(--font-text);
  font-weight: var(--regular);
  letter-spacing: 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: var(--medium);
  margin-bottom: 2rem;
  padding-left: 0;
  padding-right: 0;
}

.dialog-container.dialog--boxed .back-link svg {
  vertical-align: middle;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 45.625rem) {
  .dialog-container .dialog-content * {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .dialog-container .dialog-content .dialog-section:not(:last-child) {
    margin-bottom: 1rem;
  }

  .dialog-container .dialog-content .dialog-section-title {
    font-family: var(--font-text);
    font-weight: var(--regular);
    letter-spacing: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.16px;
    font-weight: var(--medium);
    margin-bottom: 0.25rem;
  }

  .dialog-container.dialog--boxed .dialog-content {
    width: calc(100% - 40px);
    padding: 1.25rem;
  }
}

html:has(.dialog-container:not([aria-hidden=true])) {
  overflow: hidden;
}



.cmp-fps-dialog > .dialog-content > .fps-content > .section > .default-content-wrapper > h1 {
  font-family: var(--font-display);
  font-size: 1.875rem;
  font-weight: var(--medium);
  letter-spacing: 0;
  line-height: 2.375rem;
  margin-bottom: 2rem;
}

.cmp-fps-dialog > .dialog-content > .fps-content > .section > .default-content-wrapper > h3 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: var(--medium);
    letter-spacing: 0;
    line-height: 1.75rem;
    margin-bottom: .5rem;
}

.cmp-fps-dialog > .dialog-content > .fps-content > .section > .default-content-wrapper > h3 > strong {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: var(--medium);
}

.cmp-fps-dialog > .dialog-content > .fps-content > .section > .default-content-wrapper > p:nth-of-type(2) > picture > img {
  border-radius: .75rem;
  width: 100%;
}

.cmp-fps-dialog > .dialog-content > .fps-content > .section > .default-content-wrapper:not(:last-child) {
  margin-bottom: 2rem;
}

/* Apply margin-bottom after first, second, third <p> */
.cmp-fps-dialog > .dialog-content > .fps-content > .section > .default-content-wrapper > p:nth-of-type(1),
.cmp-fps-dialog > .dialog-content > .fps-content > .section > .default-content-wrapper > p:nth-of-type(2),
.cmp-fps-dialog > .dialog-content > .fps-content > .section > .default-content-wrapper > p:nth-of-type(3) {
  margin-bottom: 2rem; /* change value as needed */
}

/* Apply margin-bottom after the first <ul> */
.cmp-fps-dialog > .dialog-content > .fps-content > .section > .default-content-wrapper > ul:nth-of-type(1) {
  margin-bottom: 2rem; /* change value as needed */
}

/* stylelint-enable declaration-property-value-no-unknown, declaration-block-no-duplicate-properties, rule-empty-line-before, no-duplicate-selectors, value-no-vendor-prefix, property-no-vendor-prefix, selector-pseudo-element-colon-notation, media-feature-range-notation, comment-empty-line-before, selector-attribute-quotes, declaration-empty-line-before, length-zero-no-unit, color-function-alias-notation */
