.l4-pdp {
  --section-bg-color: transparent;
  --section-padding-left: 0px;
  --section-padding-right: 0px;
  .section-block {
    background-color: var(--section-bg-color);
    padding-left: var(--section-padding-left);
    padding-right: var(--section-padding-right);
  }
}
