.l4-pdp {
  &[data-mode="light"] {
  --container-col-bg-color: transparent;
  }

  &[data-mode="dark"] {
    --container-col-bg-color: transparent;
  }
  .container-col-bg {
    background-color: var(--container-col-bg-color);
  }
}
