main {
  &[data-mode="light"] {
  --container-col-bg-color: rgba(255, 255, 255, 1);
  }

  &[data-mode="dark"] {
    --container-col-bg-color: rgba(0, 0, 0, 1);
  }
}

.container-col-bg {
  background-color: var(--container-col-bg-color);
}