.l4-pdp {
  &[data-mode="light"],
  .section-light {
  --container-col-bg-color: transparent;
  }

  &[data-mode="dark"],
  .section-dark {
    --container-col-bg-color: transparent;
  }

  .container-col-bg {
    background-color: var(--container-col-bg-color);
  }
}
