@use './variable' as v;

.l4-pdp {
  .g-block-animation {
    &>a,
    &>div,
    &>figure,
    &>h1,
    &>h2,
    &>h3,
    &>h4,
    &>img,
    &>span {
      opacity: 0;
      transform: translateZ(0) translateY(30px);
      transition: opacity .4s cubic-bezier(.4, 0, .2, 1), transform .4s cubic-bezier(.4, 0, .2, 1);
    }
  }

  .l4-column-width-12 {
    width: var(--l4-column-width-12);
    margin: 0 auto;
  }

  // Prevent CLS for nav-hero before its block CSS is fully loaded
  .nav-hero-item-container,
  .l4customsection-nav-hero {
    position: fixed;
  }
    
  // Responsive versions
  @media (max-width: v.$small-upper-bound) {
    --l4-column-width-12: min(87.5vw, 420px);
  }
  
  @media (min-width: v.$medium-lower-bound) and (max-width: v.$medium-upper-bound) {
    --l4-column-width-12: min(87.5vw, 896px);
  }
  
  @media (min-width: v.$large-lower-bound) {
    --l4-column-width-12: min(87.5vw, 1260px);
  }

  .visuallyhidden {
    position: absolute;
    top: 50%;
    width: 1px;
    height: 1px;
    font-size: unset;
    clip-path: inset(0 0 99.9% 99.9%);
    overflow: hidden;
    padding: 0;
    border-width: 0;
    border-style: initial;
    border-color: initial;
    border-image: initial;
  }
}

main {
  &::before {
    display: block;
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  @media all and (min-width: v.$large-lower-bound) {
    &::before {
      content: 'desktop';
    }
  }

  @media all and (min-width: v.$medium-lower-bound) and (max-width: v.$medium-upper-bound) {
    &::before {
      content: 'tablet';
    }
  }

  @media all and (max-width: v.$small-upper-bound) {
    &::before {
      content: 'mobile';
    }
  }
}


:root {
  --global-content-max-width-hero: 1260px;
  --global-content-max-width: 1260px;
  --global-content-min-width: 1120px;
  --global-scrollbar-width: 0px;
}

:root {
  @media (max-width: v.$medium-upper-bound) and (min-width: v.$medium-lower-bound) {
    --global-content-max-width-hero: 1120px;
    --global-content-max-width: 1120px;
    --global-content-min-width: 638px;
  }
}

:root {
  @media (max-width: v.$small-upper-bound) {
    --global-content-max-width-hero: 420px;
    --global-content-max-width: 420px;
    --global-content-min-width: 280px;
  }
}

.l4-pdp {
  
  $breakpoints: (
    large: '(min-width: #{v.$large-lower-bound})',
    medium: '(max-width: #{v.$medium-upper-bound}) and (min-width: #{v.$medium-lower-bound})',
    small: '(max-width: #{v.$small-upper-bound})',
  );

  @for $i from 0 through 12 {
    --l4-column-min-width-#{$i}: calc(87.5vw / 12 * #{$i} - var(--global-scrollbar-width) / 12 * #{$i});
  }

  --l4-column-width-0: 0;

  @for $i from 1 through 12 {
    --l4-column-width-#{$i}: min(var(--l4-column-min-width-#{$i}), var(--global-content-max-width) / 12 * #{$i});
  }

  @each $name, $media in $breakpoints {
    @if $name == large {
      // large 當作預設，不加 @media
      @for $i from 1 through 12 {
        .l4-column-width-#{$i} {
          width: var(--l4-column-width-#{$i});
        }
      }
    } @else {
      @media #{$media} {
        @for $i from 1 through 12 {
          .l4-#{$name}-#{$i} {
            width: var(--l4-column-width-#{$i});
          }
        }
      }
    }
  }  
}
